<section class="container">
  <div class="login-box">
    <div class="form-section">
      <h1>Join the Club</h1>

      <form action="/membership/join" method="POST" class="form">
        <div class="form-group">
          <label for="passcode">Secret Passcode:</label>
          <input type="text" id="passcode" name="passcode" placeholder="Enter passcode" required>
        </div>

        <button type="submit" class="btn-primary">Join</button>
      </form>
    </div>
  </div>
</section>
